<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      	  layout:decorate="~{layouts/default}"
	    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>Registration</title>
</head>

<body>
	<!-- Main -->
	<div layout:fragment="content">
		
		<!-- LOGIN FORM -->
		<form class="multiStepForm" th:action="@{/user/login}" method="post">
			<div class="multiStepTab">

				<h1>Login</h1>

				<!-- Display if invalid credentials -->
				<div th:if="${param.error}">
					<div class="alert alert-danger">Invalid username or password.</div>
				</div>

				<!-- Display after logout -->
				<div th:if="${param.logout}">
					<div class="alert alert-info">You have been logged out.</div>
				</div>

				<!-- Username -->
				<div class="form-group">
					<label for="username">Username</label>: 
					<input type="text" id="username" name="username" class="form-control" autofocus="autofocus" placeholder="Username" />
				</div>

				<!-- Password -->
				<div class="form-group">
					<label for="password">Password</label>: 
					<input type="password" id="password" name="password" class="form-control" placeholder="Password" />
				</div>

				<!-- Submit Button-->
				<div class="form-group">	
					<input type="submit" name="login-submit" id="login-submit" value="Log In" style="background-color:#4CAF50; color: #ffffff; border: none;"/>
				</div>

				<!-- Display after registratoin -->
				<div th:if="${param.regSuccess}">
					<div class="alert alert-info">You've successfully registered to our awesome app! </div>
				</div>
				
				<!-- Registration link -->
				<div class="form-group">
					<span>New user? <a href="/" th:href="@{/user/registration}">Register here</a></span>
				</div>
			</div>
		</form>
		<!-- LOGIN FORM -->
	</div>
</body>

</html>
