<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      	  layout:decorate="~{layouts/default}"
	    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>Upload User Images</title>
	<style>
		/* input[type="file"] {
		    border: 1px solid #4CAF50;
		    padding: 6px;
		    max-width: 80%;
		} */

		.file-input {
			width: 80%;
			border: 1px solid #9bb7d0;
			padding: 6px;
			margin: auto;
		}

		.upload-response {
			overflow-x: hidden;
			word-break: break-all;
			font-size: 17px;
		  	font-family: Raleway;
			border: 1px solid #9bb7d0;
			margin: 10px auto;
			padding: 20px;
			min-height: 100px;
			width: 80%;
		}
	</style>
</head>

<body>
	<!-- MAIN -->
	<div layout:fragment="content">
		<!-- Tab Header -->
		<div class="tab">
			<button class="tablinks" id="defaultOpen">User Images</button>
		</div>

		<!-- CONTENT -->
		<div id="ImagesAndFiles" class="tabcontent" style="display:block;">
			<!-- Profile Pic -->
			<div class="profilePic-upload">
				<h3>Upload Profile Picture</h3>
				<form id="profilePicUploadForm" name="profilePicUploadForm">
					<input id="profilePicUploadInputUse" type="hidden" name="fileUse" value="profilePicture" />
					<input id="profilePicUploadInput" type="file" name="file" class="file-input" required />
					<button type="submit" class="green-button file-upload-button">Upload Profile Pic</button>
				</form>
			</div>

			<!-- Profile Banner -->
			<div class="profileBanner-upload">
				<h3>Upload Profile Banner</h3>
				<form id="profileBannerUploadForm" name="profileBannerUploadForm">
					<input id="profileBannerUploadInputUse" type="hidden" name="fileUse" value="profileBanner" />
					<input id="profileBannerUploadInput" type="file" name="file" class="file-input" required />
					<button type="submit" class="green-button file-upload-button">Upload Profile Banner</button>
				</form>
			</div>

			<!-- Upload Response -->
			<div class="upload-response">
				<div id="singleFileUploadError"></div>
				<div id="singleFileUploadSuccess"></div>
			</div>

			<!-- Finish Button -->
			<button type="button" class="green-button file-upload-button"><a th:href="@{'/user/view/'+${newUser.id}}">Finish</a></button>
		</div>
		<!-- CONTENT -->
	</div>
	<!-- MAIN -->
</body>

</html>
