<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      	  layout:decorate="~{layouts/default}"
	    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>User View</title>
	<style>
		.userViewMap { 
			display: inline-block;
			margin: 0;
			margin-top: 20px;
			height: 600px;  
			width: 95%; 
		}

		.userViewImg {
			border: 1px solid #ddd;
			border-radius: 4px;
			padding: 5px;
			width: 150px;
		}
	</style>
</head>


<body>
	<!-- MAIN -->
	<div layout:fragment="content">

		<div class="tab">
			<button class="tablinks" onclick="openGenericTab(event, 'Overview')"  id="defaultOpen">Overview</button>
			<button class="tablinks" onclick="openGenericTab(event, 'DiveHistory')">Dive History</button>
			<button class="tablinks" onclick="openGenericTab(event, 'DiveMap')">Dive Map</button>
			<button class="tablinks" onclick="openGenericTab(event, 'Images')">Images</button>
		</div>

		<!-- First Tab -->
		<div id="Overview" style="font-size:16px" class="tabcontent">
		    <img th:if="${returnedUser.profilePicture != null}" class="profileImage" th:src="@{'/getImage/'+${returnedUser.profilePicture.id}}">
			<h1 th:text="${returnedUser.username}"></h1>
			<h4>Name</h4>
			<p th:text="${returnedUser.firstName}+' '+${returnedUser.lastName}"></p>
			<h4>Country</h4>
			<p th:text="${returnedUser.country}"></p>
			<h4>Contact Number</h4>
			<p th:text="${returnedUser.contactNumber}"></p>
			<h4>Contact Email</h4>
			<p th:text="${returnedUser.email}"></p>
			<h4>PADI Level</h4>
			<p th:text="${returnedUser.padiLevel}"></p>
			<h4>PADI No</h4>
			<p th:text="${returnedUser.padiNo}"></p>
			<h4>No of Dives</h4>
			<p th:text="${returnedUser.noOfDives}"></p>
		</div>

		<!-- Second Tab -->
		<div id="DiveHistory" class="tabcontent">
			<!-- Table -->
			<div>
				<table id="myTable" class="resultsTable">
					<tr class="header">
						<th>Details</th>
						<th>Date</th>
						<th>Diver Username</th>
						<th>PADI Level</th>
						<th>Participants</th>
						<th>Country</th>
						<th>Location</th>
					</tr>
					<div th:if="${not #lists.isEmpty(returnedDives)}" >
						<tr th:each="d : ${returnedDives}">
							<td><a th:href ="@{'/dive/view/'+${d.id}}" th:text="Click">Link</a></td>
							<td th:text="${d.date}">Date</td>
							<td><a th:href ="@{'/user/view/'+${d.diveOwner.username}}" th:text="${d.diveOwner.username}">Dive Owner Username</td>
							<td th:text="${d.diveOwner.padiLevel}">Dive Owner PADI Level</td>
							<td th:text="${d.noOfParticipants}">No. of Participants</td>
							<td th:text="${d.country}">Dive Country</td>
							<td th:text="${d.location}">Dive Location</td>
						</tr>
					</div>
					<div th:if="${#lists.isEmpty(returnedDives)}">
						<tr id="empty-results"></tr>
						<script>
							document.getElementById("empty-results").innerHTML = "No dives for this query";
						</script>
					</div>
				</table>
			</div>
		</div>

		<!-- Third Tab -->
		<div id="DiveMap" class="tabcontent">
			<div id='map' class="userViewMap"></div>
			<script th:inline="javascript">
			/*<![CDATA[*/
				L.mapbox.accessToken = 'pk.eyJ1IjoiamFzb24zeXAiLCJhIjoiY2s3ZW4waXl2MHo0MzNucGF4NHQ5bXZ4diJ9.P93UqztpQcrq70aYz1XETQ';
				var longitude, latitude, diveTitle, diveSite, divePurpose, diveCountry, diverName, date, marker; 

				var map = L.mapbox.map('map')
				    .setView([0, 0], 3)
				    .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11'))

				/*[# th:each="d : ${returnedDives}"]*/
					longitude = /*[[${d.longitude}]]*/ 0;
					latitude = /*[[${d.latitude}]]*/ 0;
					diveTitle = /*[[${d.diveTitle}]]*/ "null";
					diveCountry = /*[[${d.country}]]*/ "null";
					diveSite = /*[[${d.diveSite}]]*/ "null";
					divePurpose = /*[[${d.divePurpose}]]*/ "null";
					detailedLocation = /*[[${d.detailedLocation}]]*/ "null";
					diverName = /*[[${d.diveOwner.firstName}+' '+${d.diveOwner.lastName}]]*/ "null";
					date = /*[[${d.date}]]*/ "null";

					marker = L.marker([latitude, longitude], {
					icon: L.mapbox.marker.icon({
						'marker-size': 'large',
						'marker-symbol': 'circle',
						'marker-color': '#4169E1'
					    	})
					})

					marker.bindPopup("<p>Title: "+diveTitle+"<br />Diver: "+diverName+"<br />Country: "+diveCountry+
							"<br />Site: "+diveSite+"<br />Purpose: "+divePurpose+"<br />Date: "+date+"</p>");


					marker.addTo(map);
				/*[/]*/
			/*]]>*/
			</script>
		</div> 

		<!-- Fourth Tab -->
		<div id="Images" class="tabcontent">
			<div th:each="d : ${returnedDives}">
				<div th:each="i : ${d.images}" style="display:inline-grid;">
					<img class="profileImg" th:src="@{'/getImage/'+${i.id}}">
				</div>
			</div>
		</div>
	</div>
	<!-- MAIN -->
</body>

</html>

