<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      	  layout:decorate="~{layouts/default}"
	    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Registration</title>
</head>

<body>
	<!-- MAIN -->
	<div layout:fragment="content">
		<div>
			<h1>Query our databse of dive logs from all across the world!</h1>
			<button type="button" class="btn btn-success"><a th:href="@{/queryLogs}">Query</a></button>
		</div>

		<div>
			<h1>Find other divers and see what they have discovered!</h1>
			<button type="button" class="btn btn-success"><a th:href="@{/findUsers}">Find</a></button>
		</div>

		<div>
			<h1>Contribute to our ever growing databse of dive logs!</h1>
			<button type="button" class="btn btn-success"><a th:href="@{/uploadLog}">Upload</a></button>
		</div>

		<div>
			<h1>Register to start uploading and get your own personlised experience!</h1>
			<button type="button" class="btn btn-success"><a th:href="@{/user/registration}">Register</a></button>
		</div>
	</div>
	<!-- MAIN -->
</body>

</html>
