<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      	  layout:decorate="~{layouts/default}"
	    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>Dive World Map</title>
	<style>
		/* Map */
		.diveWorldMap { 
			display: inline-block;
			width: 100%; 
		}

		#map {
			display: inline-block;
			height: 600px;  
			width: 100%; 
		}
	</style>
</head>

<body>
	<!-- MAIN -->
	<div layout:fragment="content">

		<form id="queryForm" th:object="${query}" th:action="@{/dive/query}" method="post">
			<!-- SEARCH BY -->
			<div class="radioContainer">
				<h3>Search by:</h3>
				<label class="container">All
				  <input onclick="searchByOnClick('all')" type="radio" name="searchOption" th:field="*{searchOption}" value="all">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Date
				  <input onclick="searchByOnClick('date')" type="radio" name="searchOption" th:field="*{searchOption}" th:value="date">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Username
				  <input onclick="searchByOnClick('username')" type="radio" checked="checked" name="searchOption" th:field="*{searchOption}" th:value="username">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Country
				  <input onclick="searchByOnClick('country')" type="radio" name="searchOption" th:field="*{searchOption}" th:value="country">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Location
				  <input onclick="searchByOnClick('location')" type="radio" name="searchOption" th:field="*{searchOption}" th:value="location">
				  <span class="checkmark"></span>
				</label>
				<label class="container">PADI Level
				  <input onclick="searchByOnClick('padiLevel')" type="radio" name="searchOption" th:field="*{searchOption}" th:value="padiLevel">
				  <span class="checkmark"></span>
				</label>
			</div>

			<div class="radioContainer">
				<h3>Order by:</h3>
				<label class="container">Date
				  <input onclick="submitOnClick()" type="radio" name="orderBy" th:field="*{orderBy}" value="date">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Username
				  <input onclick="submitOnClick()" type="radio" name="orderBy" th:field="*{orderBy}" value="diveOwnerUsername">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Country
				  <input onclick="submitOnClick()" type="radio" name="orderBy" th:field="*{orderBy}" value="country">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Location
				  <input onclick="submitOnClick()" type="radio" name="orderBy" th:field="*{orderBy}" value="location">
				  <span class="checkmark"></span>
				</label>
				<label class="container">PADI Level
				  <input onclick="submitOnClick()" type="radio" name="orderBy" th:field="*{orderBy}" value="diveOwnerPadiLevel">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Dive Duration
				  <input onclick="submitOnClick()" type="radio" name="orderBy" th:field="*{orderBy}" value="diveDuration">
				  <span class="checkmark"></span>
				</label>
			</div>

			<div class="radioContainer" style="margin-top: 9px">
				<label class="container">Air Temp
				  <input onclick="submitOnClick()" type="radio" name="orderBy" th:field="*{orderBy}" value="airTemperature">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Water Temp
				  <input onclick="submitOnClick()" type="radio" name="orderBy" th:field="*{orderBy}" value="waterTemperature">
				  <span class="checkmark"></span>
				</label>
				<label class="container">No. Participants
				  <input onclick="submitOnClick()" type="radio" name="orderBy" th:field="*{orderBy}" value="noOfParticipants">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Weather
				  <input onclick="submitOnClick()" type="radio" name="orderBy" th:field="*{orderBy}" value="weather">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Max Depth
				  <input onclick="submitOnClick()" type="radio" name="orderBy" th:field="*{orderBy}" value="maxDepth">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Altitude
				  <input onclick="submitOnClick()" type="radio" name="orderBy" th:field="*{orderBy}" value="altitude">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Water Type
				  <input onclick="submitOnClick()" type="radio" name="orderBy" th:field="*{orderBy}" value="waterType">
				  <span class="checkmark"></span>
				</label>
			</div>

			<!-- Sort by and Size -->
			<div class="radioContainer">
				<h3>Top/Bot:</h3>
				<label class="container">Top
				  <input onclick="submitOnClick()" type="radio" name="sortBy" th:field="*{sortBy}" value="descending">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Bottom
				  <input onclick="submitOnClick()" type="radio" name="sortBy" th:field="*{sortBy}" value="ascending">
				  <span class="checkmark"></span>
				</label>
				<h3>Top/Bot No:</h3>
				<label class="container">12
				  <input onclick="submitOnClick()" type="radio" name="pageSize" th:field="*{pageSize}" value="12">
				  <span class="checkmark"></span>
				</label>
				<label class="container">100
				  <input onclick="submitOnClick()" type="radio" name="pageSize" th:field="*{pageSize}" value="100">
				  <span class="checkmark"></span>
				</label>
				<label class="container">500
				  <input onclick="submitOnClick()" type="radio" name="pageSize" th:field="*{pageSize}" value="500">
				  <span class="checkmark"></span>
				</label>
			</div>

			<!-- Search Bars -->
			<div class="querySearchBarContainer" th:classappend="${param.error}? has-error">
				<!-- Input string -->
				<h3 id="inputStringHeader">Search</h3>
				<input placeholder="Enter text..." type="text" name="inputString" id="inputString" class="querySearchBar" th:field="*{inputString}">

				<div id="inputDateContainer">
					<!-- Date from -->
					<label class="custom-label">From
						<input placeholder="Select start date..." type="date" name="startDate" id="startDate" class="querySearchBar" th:field="*{startDate}">
					</label >
					<!-- Date till -->
					<label class="custom-label">Until
						<input onclick="copyStartDate()" placeholder="Select end date..." type="date" name="endDate" id="endDate" class="querySearchBar" th:field="*{endDate}">
					</label>
				</div>

				<div id="inputCountryContainer">
					<label for="country" class="control-label">Country</label> 
					<select class="querySearchBar" id="country" th:field="*{country}">
						<option th:each="c : ${countries}" th:value="${c}" th:text="${c}"></option>
					</select>
				</div>

				<div id="inputPadiLevelContainer">
					<label for="padiLevel" class="control-label">PADI Level</label> 
					<select class="querySearchBar" id="padiLevel" th:field="*{padiLevel}">
						<option th:each="p : ${padiLevels}" th:value="${p}" th:text="${p}"></option>
					</select>
				</div>

				<button onclick="submitQuery()" class="green-button" type="button">GO</button>
			</div>

			<!-- HIDDEN INPUTS -->
			<input type="hidden" name="source" th:value="map">
			<input id="pageNo"type="hidden" name="pageNo" th:value="1">
		</form>
		
		<!-- MAP -->
		<div class="diveWorldMap">

			<div class="no-results" th:if="${returnedDives.totalPages eq 0}">
				<h1>No results were returned!</h1>
			</div>

			<div id='map'></div>

			<script th:inline="javascript">
			/*<![CDATA[*/
				L.mapbox.accessToken = 'pk.eyJ1IjoiamFzb24zeXAiLCJhIjoiY2s3ZW4waXl2MHo0MzNucGF4NHQ5bXZ4diJ9.P93UqztpQcrq70aYz1XETQ';
				var longitude, latitude, diveTitle, diveSite, divePurpose, diveCountry, diverName, date, diveID, diveLink, marker; 

				var map = L.mapbox.map('map')
				    .setView([0, 0], 2)
				    .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11'))

				/*[# th:each="d : ${returnedDives}"]*/
					longitude = /*[[${d.longitude}]]*/ 0;
					latitude = /*[[${d.latitude}]]*/ 0;
					diveTitle = /*[[${d.diveTitle}]]*/ "null";
					diveCountry = /*[[${d.country}]]*/ "null";
					diveSite = /*[[${d.diveSite}]]*/ "null";
					divePurpose = /*[[${d.divePurpose}]]*/ "null";
					detailedLocation = /*[[${d.detailedLocation}]]*/ "null";
					diverName = /*[[${d.diveOwner.firstName}+' '+${d.diveOwner.lastName}]]*/ "null";
					date = /*[[${d.date}]]*/ "null";

					diveID = /*[[${d.id}]]*/ 1;
					diveLink = "/dive/view/"+diveID.toString();
					console.log(diveLink);

					marker = L.marker([latitude, longitude], {
					icon: L.mapbox.marker.icon({
						'marker-size': 'small',
						'marker-symbol': 'circle',
						'marker-color': '#e60000'
					    	})
					})

					marker.bindPopup("<p>Title: "+diveTitle+"<br />Diver: "+diverName+"<br />Country: "+diveCountry+
							"<br />Site: "+diveSite+"<br />Purpose: "+divePurpose+"<br />Date: "+date+"</p>"+
							"<p>Link: <a href='" + diveLink +"'>View Log</a></p>");


					marker.addTo(map);
				/*[/]*/
			/*]]>*/
			</script>
		</div>

		<script th:inline="javascript">
			function submitQuery(){
				var searchOption = document.querySelector("input[name='searchOption'][value='date']");
				if(searchOption.checked == true){
					console.log("Checking Dates");
					var startDateInput = document.getElementById("startDate");
					var endDateInput = document.getElementById("endDate");
					if(!!startDateInput.value && !!endDateInput.value){
						var startDate = new Date(startDateInput.value);
						var endDate = new Date(endDateInput.value);
						if(startDate > endDate){
							console.log("Invalid Dates");
							alert("End date must be the same as or after start date");
							startDateInput.style.backgroundColor = "#ffb3b3";
							endDateInput.style.backgroundColor = "#ffb3b3";
						} else {
							console.log("Valid Dates");
							document.getElementById("queryForm").submit();
						}
					} else {
						alert("Enter start and end date");
						startDateInput.style.backgroundColor = "#ffb3b3";
						endDateInput.style.backgroundColor = "#ffb3b3";
					}
				} else if (document.querySelector("input[name='searchOption'][value='location']").checked == true ||
						document.querySelector("input[name='searchOption'][value='username']").checked == true) {
					var inputString = document.getElementById("inputString");
					if(!!inputString.value){
						document.getElementById("queryForm").submit();
					} else {
						alert("Enter something in the search bar!");
					}
				} else {
					document.getElementById("queryForm").submit();
				}
			}

			function copyStartDate(){
				var startDateInput = document.getElementById("startDate");
				var endDateInput = document.getElementById("endDate");
				console.log(endDateInput.value);
				
				if(!endDateInput.value){
					endDateInput.value = startDateInput.value;
				}
			}

			/*<![CDATA[*/
			function searchByOnClick(radioValue) {
				var inputString = document.getElementById("inputString");
				var inputStringHeader = document.getElementById("inputStringHeader"); 
				var inputDateContainer = document.getElementById("inputDateContainer");

				var inputCountryContainer = document.getElementById("inputCountryContainer");
				var inputPadiLevelContainer = document.getElementById("inputPadiLevelContainer");

				var orderByHeader = document.getElementById("orderByHeader");
				var startDateInput = document.getElementById("startDate");
				var endDateInput = document.getElementById("endDate");

				// Enable/Disable the search bar 
				if(radioValue == "all"){
					inputString.disabled = true;
					inputString.innerHTML = "";
				} else {
					inputString.disabled = false;
				}

				inputString.style.display = "none";
				inputCountryContainer.style.display = "none";
				inputPadiLevelContainer.style.display = "none";
				inputDateContainer.style.display = "none";

				startDateInput.style.backgroundColor = "white";
				endDateInput.style.backgroundColor = "white";

				startDateInput.required = false;
				endDateInput.required = false;
				inputString.required = false;

				if(radioValue == "date"){
					inputDateContainer.style.display = "inline-block";
					startDateInput.required = true;
					endDateInput.required = true;
				} else if(radioValue == "country"){
					inputCountryContainer.style.display = "inline-block";
				} else if(radioValue == "padiLevel"){
					inputPadiLevelContainer.style.display = "inline-block";
				} else if(radioValue == "all"){
					inputString.style.display = "inline-block";
				} else {
					inputString.style.display = "inline-block";
					inputString.required = true;
				}

				if(radioValue == "all") {
					inputStringHeader.innerHTML = "All";
					inputString.placeholder = "No input text required...";
				} else if(radioValue == "username") {
					inputStringHeader.innerHTML = "Username";
					inputString.placeholder = "Enter a username...";
				} else if(radioValue == "country") {
					inputStringHeader.innerHTML = "Country";
					inputString.placeholder = "Enter a country...";
				} else if(radioValue == "date") {
					inputStringHeader.innerHTML = "Date";
				} else if(radioValue == "location") {
					inputStringHeader.innerHTML = "Location";
					inputString.placeholder = "Enter a location...";
				} else if(radioValue == "padiLevel") {
					inputStringHeader.innerHTML = "PADI Level";
					inputString.placeholder = "Select a PADI Level...";
					// Select PADI Level
				}
			}

			function submitOnClick(){
				submitQuery();;
			}

			var query = /*[[${query}]]*/ null;
			var source = /*[[${query.source}]]*/ null;

			if(query != null) {
				var searchOptionToCheck = /*[[${query.searchOption}]]*/ null;
				var orderByToCheck = /*[[${query.orderBy}]]*/ null;
				var sortByToCheck = /*[[${query.sortBy}]]*/ null;
				var pageSizeToCheck = /*[[${query.pageSize}]]*/ null;

				var query1 = "input[name='searchOption'][value='".concat(searchOptionToCheck, "']");
				var query2 = "input[name='orderBy'][value='".concat(orderByToCheck, "']");
				var query3 = "input[name='sortBy'][value='".concat(sortByToCheck, "']");
				var query4 = "input[name='pageSize'][value='".concat(pageSizeToCheck, "']");

				document.querySelector(query1).click();
				document.querySelector(query2).checked = true;
				document.querySelector(query3).checked = true;
				document.querySelector(query4).checked = true;
				
				if(searchOptionToCheck == "date"){
					document.getElementById("startDate").text = /*[[${query.startDate}]]*/ null;
					document.getElementById("endDate").text = /*[[${query.endDate}]]*/ null;
				} else if(searchOptionToCheck == "padiLevel"){
					document.getElementById("padiLevel").text = /*[[${query.inputString}]]*/ null;
				} else if(searchOptionToCheck == "country") {
					document.getElementById("country").text = /*[[${query.inputString}]]*/ null;
				} else {
					document.getElementById("inputString").text = /*[[${query.inputString}]]*/ null;
				}
			} 
			/*]]>*/
		</script>
	</div>
	<!-- MAIN -->
</body>

</html>
