<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      	  layout:decorate="~{layouts/default}"
	    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>Dives</title>
</head>

<body>
	<!-- MAIN -->
	<div layout:fragment="content">

		<!-- Search Bar -->

		<form id="queryForm" style="width: 100%;" th:object="${query}" th:action="@{/dive/query}" method="post">
			<div class="radioContainer">
				<h3>Search by:</h3>
				<label class="container">All
				  <input type="radio" checked="checked" name="searchOption" th:field="*{searchOption}" th:value="all">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Username
				  <input type="radio" name="searchOption" th:field="*{searchOption}" th:value="username">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Country
				  <input type="radio" name="searchOption" th:field="*{searchOption}" th:value="country">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Date
				  <input type="radio" name="searchOption" th:field="*{searchOption}" th:value="date">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Location
				  <input type="radio" name="searchOption" th:field="*{searchOption}" th:value="location">
				  <span class="checkmark"></span>
				</label>
				<label class="container">PADI Level
				  <input type="radio" name="searchOption" th:field="*{searchOption}" th:value="padiLevel">
				  <span class="checkmark"></span>
				</label>
			</div>

			<div class="radioContainer">
				<h3>Order by:</h3>
				<label class="container">Date
				  <input type="radio" checked="checked" name="orderBy" th:field="*{orderBy}" th:value="date">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Username
				  <input type="radio" name="orderBy" th:field="*{orderBy}" th:value="diveOwnerUsername">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Dive Duration
				  <input type="radio" name="orderBy" th:field="*{orderBy}" th:value="diveDuration">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Country
				  <input type="radio" name="orderBy" th:field="*{orderBy}" th:value="country">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Location
				  <input type="radio" name="orderBy" th:field="*{orderBy}" th:value="location">
				  <span class="checkmark"></span>
				</label>
			</div>

			<div class="radioContainer">
				<label class="container">Water Type
				  <input type="radio" name="orderBy" th:field="*{orderBy}" th:value="waterType">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Air Temperature
				  <input type="radio" name="orderBy" th:field="*{orderBy}" th:value="airTemperature">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Water Termperature
				  <input type="radio" name="orderBy" th:field="*{orderBy}" th:value="waterTemperature">
				  <span class="checkmark"></span>
				</label>
				<label class="container">No. of Participants
				  <input type="radio" name="orderBy" th:field="*{orderBy}" th:value="noOfParticipants">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Weather
				  <input type="radio" name="orderBy" th:field="*{orderBy}" th:value="weather">
				  <span class="checkmark"></span>
				</label>
			</div>

			<div class="radioContainer">
				<label class="container">Max Depth
				  <input type="radio" name="orderBy" th:field="*{orderBy}" th:value="maxDepth">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Altitude
				  <input type="radio" name="orderBy" th:field="*{orderBy}" th:value="altitude">
				  <span class="checkmark"></span>
				</label>
				<label class="container">PADI Level
				  <input type="radio" name="orderBy" th:field="*{orderBy}" th:value="diveOwnerPadiLevel">
				  <span class="checkmark"></span>
				</label>
			</div>

			<div class="querySearchBarContainer" th:classappend="${param.error}? has-error">
				<h3>Search</h3>
				<input placeholder="Search for dives..." type="text" name="inputString" id="inputString" class="querySearchBar" th:field="*{inputString}">
				<button class="green-button" type="submit">GO</button>
			</div>

			<input type="hidden" name="source" th:value="query">
			<input id="pageNo"type="hidden" name="pageNo" th:value="1">
		</form>
	

		<!-- Table -->
		<div>
			<table id="myTable" class="resultsTable">
				<tr class="header">
					<th class="detailsCol">Details</th>
					<th class="dateCol">Date</th>
					<th>Diver Username</th>
					<th>PADI Level</th>
					<th class="participantsCol">Participants</th>
					<th>Country</th>
					<th>Location</th>
				</tr>
				<div th:if="${not #lists.isEmpty(returnedDives)}" >
					<tr th:each="d : ${returnedDives}">
						<td class="green-button"><a th:href ="@{'/dive/view/'+${d.id}}" th:text="View">Link</a></td>
						<td th:text="${d.date}">Date</td>
						<td><a th:href ="@{'/user/view/'+${d.diveOwner.username}}" th:text="${d.diveOwner.username}">Dive Owner Username</td>
						<td th:text="${d.diveOwner.padiLevel}">Dive Owner PADI Level</td>
						<td th:text="${d.noOfParticipants}">No. of Participants</td>
						<td th:text="${d.country}">Dive Country</td>
						<td th:text="${d.location}">Dive Location</td>
					</tr>
				</div>
				<div th:if="${#lists.isEmpty(returnedDives)}">
					<tr id="empty-results"></tr>
					<script>
						document.getElementById("empty-results").innerHTML = "No dives for this query";
					</script>
				</div>
			</table>
		</div>

		<!-- Page Links -->
		<nav aria-label="Pagination" th:if="${returnedDives.totalPages gt 0}">
			<ul class="pagination pagination-custom">

			<!-- Previous -->
			<li class="page-item" th:classappend="${returnedDives.number eq 0} ? 'disabled'">
				<a th:onclick="|submitPage(${returnedDives.number lt 2 ? 1 : returnedDives.number})|" 
				class="page-link"
				aria-label="Previous"
				title="Previous Page" rel="tooltip">Prev</a>
			</li>

			<!-- Page Links -->
			<li class="page-item" th:classappend="${i eq returnedDives.number + 1} ? 'active'"
				th:each="i : ${#numbers.sequence( returnedDives.number + 1, returnedDives.totalPages > 10 + returnedDives.number ? returnedDives.number + 10 : returnedDives.totalPages, 1)}">
				<a th:onclick="|submitPage(${i})|" 
				class="page-link" th:text="${i}"
				th:title="${'Page '+ i}"
				rel="tooltip"></a>
			</li>

			<!-- More Pages -->
			<li class="page-item disabled" th:if="${returnedDives.number + 10 < returnedDives.totalPages}">
				<a class="page-link" href="#">
					<!-- <span data-feather="more-horizontal" width="20" height="20"></span> -->
					<span aria-hidden="true">&raquo;</span>
					<span class="sr-only">Next</span>
				</a>
			</li>

			<!-- Next -->

			<li class="page-item" th:classappend="${returnedDives.number + 1 eq returnedDives.totalPages} ? 'disabled'">
				<a th:onclick="|submitPage(${returnedDives.number + 2})|" 
				class="page-link" 
				aria-label="Next"
				title="Next Page" rel="tooltip">Next</a>
			</li>

			</ul>
		</nav>

	</div>
	<!-- MAIN -->
	<script th:inline="javascript">
		/*<![CDATA[*/
		var query = /*[[${query}]]*/ null;
		var source = /*[[${query.source}]]*/ null;

		var searchOption = document.getElementsByName("searchOption");
		var orderBy = document.getElementsByName("orderBy");

		if(query != null) {
			if(source.equals("query")){
				document.getElementById("inputString").text = /*[[${query.getInputString}]]*/ null;
				var searchOptionToCheck = /*[[${query.searchOption}]]*/ null;
				var orderByToCheck = /*[[${query.orderBy}]]*/ null;

				searchOption.querySelector('input[value=' + searchOptionToCheck + ']').checked = true;
				orderBy.querySelector('input[value=' + orderByToCheck + ']').checked = true;
			} else {
				searchOption.querySelector("input[value='all']").checked = true;
				orderBy.querySelector("input[value='username']").checked = true;	
			}
		} 
		/*]]>*/
	</script>
</body>

</html>

