<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      	  layout:decorate="~{layouts/default}"
	    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>Dives</title>
</head>

<body>
	<!-- MAIN -->
	<div layout:fragment="content">

		<!-- Search Bar -->

		<form id="queryForm" style="width: 100%;" th:object="${query}" th:action="@{/dive/query}" method="post">
			<div class="radioContainer">
				<h3>Search by:</h3>
				<label class="container">All
				  <input onclick="searchByOnClick('all')" type="radio" name="searchOption" th:field="*{searchOption}" value="all">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Date
				  <input onclick="searchByOnClick('date')" type="radio" name="searchOption" th:field="*{searchOption}" value="date">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Username
				  <input onclick="searchByOnClick('username')" type="radio" name="searchOption" th:field="*{searchOption}" value="username">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Country
				  <input onclick="searchByOnClick('country')" type="radio" name="searchOption" th:field="*{searchOption}" value="country">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Location
				  <input onclick="searchByOnClick('location')" type="radio" name="searchOption" th:field="*{searchOption}" value="location">
				  <span class="checkmark"></span>
				</label>
				<label class="container">PADI Level
				  <input onclick="searchByOnClick('padiLevel')" type="radio" name="searchOption" th:field="*{searchOption}" value="padiLevel">
				  <span class="checkmark"></span>
				</label>
			</div>

			<div class="radioContainer">
				<h3>Order by:</h3>
				<label class="container">Date
				  <input onclick="orderAndSortByOnClick()" type="radio" name="orderBy" th:field="*{orderBy}" value="date">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Username
				  <input onclick="orderAndSortByOnClick()" type="radio" name="orderBy" th:field="*{orderBy}" value="diveOwnerUsername">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Country
				  <input onclick="orderAndSortByOnClick()" type="radio" name="orderBy" th:field="*{orderBy}" value="country">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Location
				  <input onclick="orderAndSortByOnClick()" type="radio" name="orderBy" th:field="*{orderBy}" value="location">
				  <span class="checkmark"></span>
				</label>
				<label class="container">PADI Level
				  <input onclick="orderAndSortByOnClick()" type="radio" name="orderBy" th:field="*{orderBy}" value="diveOwnerPadiLevel">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Dive Duration
				  <input onclick="orderAndSortByOnClick()" type="radio" name="orderBy" th:field="*{orderBy}" value="diveDuration">
				  <span class="checkmark"></span>
				</label>
			</div>

			<div class="radioContainer">
				<label class="container">Air Temp
				  <input onclick="orderAndSortByOnClick()" type="radio" name="orderBy" th:field="*{orderBy}" value="airTemperature">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Water Temp
				  <input onclick="orderAndSortByOnClick()" type="radio" name="orderBy" th:field="*{orderBy}" value="waterTemperature">
				  <span class="checkmark"></span>
				</label>
				<label class="container">No. Participants
				  <input onclick="orderAndSortByOnClick()" type="radio" name="orderBy" th:field="*{orderBy}" value="noOfParticipants">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Weather
				  <input onclick="orderAndSortByOnClick()" type="radio" name="orderBy" th:field="*{orderBy}" value="weather">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Max Depth
				  <input onclick="orderAndSortByOnClick()" type="radio" name="orderBy" th:field="*{orderBy}" value="maxDepth">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Altitude
				  <input onclick="orderAndSortByOnClick()" type="radio" name="orderBy" th:field="*{orderBy}" value="altitude">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Water Type
				  <input onclick="orderAndSortByOnClick()" type="radio" name="orderBy" th:field="*{orderBy}" value="waterType">
				  <span class="checkmark"></span>
				</label>
			</div>

			<div class="radioContainer">
				<h3>Sort by:</h3>
				<label class="container">Ascending
				  <input onclick="orderAndSortByOnClick()" type="radio" name="sortBy" th:field="*{sortBy}" value="ascending">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Descending
				  <input onclick="orderAndSortByOnClick()" type="radio" name="sortBy" th:field="*{sortBy}" value="descending">
				  <span class="checkmark"></span>
				</label>
			</div>

			<!-- Search Bars -->
			<div class="querySearchBarContainer" th:classappend="${param.error}? has-error">
				<!-- Input string -->
				<h3 id="inputStringHeader">Search</h3>
				<input placeholder="Enter text..." type="text" name="inputString" id="inputString" class="querySearchBar" th:field="*{inputString}">

				<div id="inputDateContainer">
					<!-- Date from -->
					<label class="custom-label">From
						<input placeholder="Select start date..." type="date" name="startDate" id="startDate" class="querySearchBar" th:field="*{startDate}">
					</label >
					<!-- Date till -->
					<label class="custom-label">Until
						<input placeholder="Select end date..." type="date" name="endDate" id="endDate" class="querySearchBar" th:field="*{endDate}">
					</label>
				</div>

				<button class="green-button" type="submit">GO</button>
			</div>

			<input type="hidden" name="source" th:value="query">
			<input id="pageNo"type="hidden" name="pageNo" th:value="1">
		</form>
	

		<!-- Table -->
		<div>
			<table id="myTable" class="resultsTable">
				<tr class="header">
					<th class="detailsCol">Details</th>
					<th class="dateCol">Date</th>
					<th>Diver Username</th>
					<th class="participantsCol">Participants</th>
					<th>Country</th>
					<th>Location</th>
					<th>PADI Level</th>
				</tr>
				<div th:if="${not #lists.isEmpty(returnedDives)}" >
					<tr th:each="d : ${returnedDives}">
						<td class="green-button"><a th:href ="@{'/dive/view/'+${d.id}}" th:text="View">Link</a></td>
						<td th:text="${d.date}">Date</td>
						<td><a th:href ="@{'/user/view/'+${d.diveOwner.username}}" th:text="${d.diveOwner.username}">Dive Owner Username</td>
						<td th:text="${d.noOfParticipants}">No. of Participants</td>
						<td th:text="${d.country}">Dive Country</td>
						<td th:text="${d.location}">Dive Location</td>
						<td th:text="${d.diveOwner.padiLevel}">Dive Owner PADI Level</td>
					</tr>
				</div>
				<div th:if="${#lists.isEmpty(returnedDives)}">
					<tr id="empty-results"></tr>
					<script>
						document.getElementById("empty-results").innerHTML = "No dives for this query";
					</script>
				</div>
			</table>
		</div>

		<!-- Page Links -->
		<nav aria-label="Pagination" th:if="${returnedDives.totalPages gt 0}">
			<ul class="pagination pagination-custom">

			<!-- Previous -->
			<li class="page-item" th:classappend="${returnedDives.number eq 0} ? 'disabled'">
				<a th:onclick="|submitPage(${returnedDives.number lt 2 ? 1 : returnedDives.number})|" 
				class="page-link"
				aria-label="Previous"
				title="Previous Page" rel="tooltip">Prev</a>
			</li>

			<!-- Page Links -->
			<li class="page-item" th:classappend="${i eq returnedDives.number + 1} ? 'active'"
				th:each="i : ${#numbers.sequence( returnedDives.number + 1, returnedDives.totalPages > 10 + returnedDives.number ? returnedDives.number + 10 : returnedDives.totalPages, 1)}">
				<a th:onclick="|submitPage(${i})|" 
				class="page-link" th:text="${i}"
				th:title="${'Page '+ i}"
				rel="tooltip"></a>
			</li>

			<!-- More Pages -->
			<li class="page-item disabled" th:if="${returnedDives.number + 10 < returnedDives.totalPages}">
				<a class="page-link" href="#">
					<!-- <span data-feather="more-horizontal" width="20" height="20"></span> -->
					<span aria-hidden="true">&raquo;</span>
					<span class="sr-only">Next</span>
				</a>
			</li>

			<!-- Next -->

			<li class="page-item" th:classappend="${returnedDives.number + 1 eq returnedDives.totalPages} ? 'disabled'">
				<a th:onclick="|submitPage(${returnedDives.number + 2})|" 
				class="page-link" 
				aria-label="Next"
				title="Next Page" rel="tooltip">Next</a>
			</li>

			</ul>
		</nav>

		<!-- MAIN -->
		<script th:inline="javascript">
			function searchByOnClick(radioValue) {
				var inputString = document.getElementById("inputString");
				var inputStringHeader = document.getElementById("inputStringHeader"); 
				var inputDateContainer = document.getElementById("inputDateContainer");

				// Enable/Disable the search bar 
				if(radioValue == "all"){
					inputString.disabled = true;
					inputString.innerHTML = "";
				} else {
					inputString.disabled = false;
				}

				if(radioValue == "date"){
					inputString.style.display = "none";
					inputDateContainer.style.display = "inline-block";
					
				} else {
					inputString.style.display = "inline-block";
					inputDateContainer.style.display = "none";
				}

				if(radioValue == "all") {
					inputStringHeader.innerHTML = "All";
					inputString.placeholder = "No input text required...";
				} else if(radioValue == "username") {
					inputStringHeader.innerHTML = "Username";
					inputString.placeholder = "Enter a username...";
				} else if(radioValue == "country") {
					inputStringHeader.innerHTML = "Country";
					inputString.placeholder = "Enter a country...";
				} else if(radioValue == "date") {
					inputStringHeader.innerHTML = "Date";
				} else if(radioValue == "location") {
					inputStringHeader.innerHTML = "Location";
					inputString.placeholder = "Enter a location...";
				} else if(radioValue == "padiLevel") {
					inputStringHeader.innerHTML = "PADI Level";
					inputString.placeholder = "Select a PADI Level...";
					// Select PADI Level
				}
			}
			
			function orderAndSortByOnClick(){
				document.getElementById("queryForm").submit();
			}

			/*<![CDATA[*/
			var query = /*[[${query}]]*/ null;
			var source = /*[[${query.source}]]*/ null;

			if(query != null) {
				if(source == "query"){
					document.getElementById("inputString").text = /*[[${query.inputString}]]*/ null;
					var searchOptionToCheck = /*[[${query.searchOption}]]*/ null;
					var orderByToCheck = /*[[${query.orderBy}]]*/ null;
					var sortByToCheck = /*[[${query.sortBy}]]*/ null;

					var query1 = "input[name='searchOption'][value='".concat(searchOptionToCheck, "']");
					var query2 = "input[name='orderBy'][value='".concat(orderByToCheck, "']");
					var query3 = "input[name='sortBy'][value='".concat(sortByToCheck, "']");

					document.querySelector(query1).click();
					document.querySelector(query2).checked = true;
					document.querySelector(query3).checked = true;
				} else {
					document.querySelector("input[name='searchOption'][value='all']").click();
					document.querySelector("input[name='orderBy'][value='username']").checked = true;	
					document.querySelector("input[name='sortBy'][value='descending']").checked = true;
				}
			} 
			/*]]>*/
		</script> 

	</div>
</body>

</html>

