<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      	  layout:decorate="~{layouts/default}"
	    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>Dives</title>
	<style>
		/* input[type="file"] {
		    border: 1px solid #4CAF50;
		    padding: 6px;
		    max-width: 80%;
		} */

		.file-input {
			width: 80%;
			border: 1px solid #9bb7d0;
			padding: 6px;
			margin: auto;
		}

		.upload-response {
			overflow-x: hidden;
			word-break: break-all;
			font-size: 17px;
		  	font-family: Raleway;
			border: 1px solid #9bb7d0;
			margin: 10px auto;
			padding: 20px;
			min-height: 100px;
			width: 80%;
		}
	</style>
</head>

<body>
	<!-- MAIN -->
	<div layout:fragment="content">
		<h1>Upload Dive - Step 2: Upload Images from your dive</h1>

		<div class="tab" style="margin-top:0px">
			<button class="tablinks" id="defaultOpen">Images</button>
		</div>

		<div id="ImagesAndFiles" class="tabcontent" style="display:block;">
			<div class="multiple-upload">
				<form id="multipleUploadForm" name="multipleUploadForm">
					<input id="multipleFileUploadInputDive" type="hidden" name="diveId" th:value="${dive.id}" />
					<input id="multipleFileUploadInput" type="file" name="files" class="file-input" multiple required />
					<button type="submit" class="green-button file-upload-button">Upload</button>
				</form>

				<div class="upload-response">
					<div id="multipleFileUploadError"></div>
					<div id="multipleFileUploadSuccess"></div>
				</div>
			</div>

			<button type="button" class="green-button file-upload-button"><a th:href="@{'/dive/view/'+${dive.id}}">Finish</a></button>
		</div>
	</div>
	<!-- MAIN -->
</body>

</html>
