<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      	  layout:decorate="~{layouts/diveUploadTemplate}"
	    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<title>Upload Dive</title>
</head>

<body>
	<!-- MAIN -->
	<div layout:fragment="content">

		<!-- Upload Dive Form -->
		<form id="regForm" th:action="@{/dive/upload}" th:object="${dive}" method="post">

			<h1>Upload Dive Log</h1>

			<div class="tab">
				<button type="button" class="tablinks" onclick="openTab(event, 'BasicInfo')"  id="defaultOpen">Basic Information</button>
				<button type="button" class="tablinks" onclick="openTab(event, 'Environment')">Environment</button>
				<button type="button" class="tablinks" onclick="openTab(event, 'Details')">Details</button>
				<button type="button" class="tablinks" onclick="openTab(event, 'Observations')">Observations</button>
				<button type="submit" class="uploadButton">Upload</button>
			</div>

			<!-- First Tab -->
			<div id="BasicInfo" class="tabcontent">
				<h3>Basic Information</h3>

				<p class="error-message" th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation error</p>

				<!-- diveTitle -->
				<div class="form-group" th:classappend="${#fields.hasErrors('diveTitle')}? 'has-error':''">
					<label for="diveTitle" class="control-label">Title</label> 
					<input type="text" id="diveTitle" class="form-control" th:field="*{diveTitle}" />
					<p class="error-message" th:each="error: ${#fields.errors('diveTitle')}" th:text="${error}">Validation error</p>
				</div>

				<!-- diveSite -->
				<div class="form-group" th:classappend="${#fields.hasErrors('diveSite')}? 'has-error':''">
					<label for="diveSite" class="control-label">Dive Site</label> 
					<input type="text" id="diveSite" class="form-control" th:field="*{diveSite}" />
					<p class="error-message" th:each="error: ${#fields.errors('diveSite')}" th:text="${error}">Validation error</p>
				</div>

				<!-- divePurpose -->
				<div class="form-group" th:classappend="${#fields.hasErrors('divePurpose')}? 'has-error':''">
					<label for="divePurpose" class="control-label">Dive Purpose</label> 
					<input type="text" id="divePurpose" class="form-control" th:field="*{divePurpose}" />
					<p class="error-message" th:each="error: ${#fields.errors('divePurpose')}" th:text="${error}">Validation error</p>
				</div>

				<!-- diveBuddy -->
				<div class="form-group" th:classappend="${#fields.hasErrors('diveBuddy')}? 'has-error':''">
					<label for="diveBuddy" class="control-label">Dive Buddy</label> 
					<input type="text" id="diveBuddy" class="form-control" th:field="*{diveBuddy}" />
					<p class="error-message" th:each="error: ${#fields.errors('diveBuddy')}" th:text="${error}">Validation error</p>
				</div>

				<!-- date -->
				<div class="form-group" th:classappend="${#fields.hasErrors('date')}? 'has-error':''">
					<label for="date" class="control-label">Date</label> 
					<input type="date" id="date" class="form-control" th:field="*{date}"/>
					<p class="error-message" th:each="error: ${#fields.errors('date')}" th:text="${error}">Validation error</p>
				</div>

				<!-- startTime -->
				<div class="form-group" th:classappend="${#fields.hasErrors('startTime')}? 'has-error':''">
					<label for="startTime" class="control-label">Start Time</label> 
					<input type="time" id="startTime" class="form-control" th:field="*{startTime}"/>
					<p class="error-message" th:each="error: ${#fields.errors('startTime')}" th:text="${error}">Validation error</p>
				</div>	

				<!-- endTime -->
				<div class="form-group" th:classappend="${#fields.hasErrors('endTime')}? 'has-error':''">
					<label for="endTime" class="control-label">End Time</label> 
					<input type="time" id="endTime" class="form-control" th:field="*{endTime}" />
					<p class="error-message" th:each="error: ${#fields.errors('endTime')}" th:text="${error}">Validation error</p>
				</div>	

				<!-- latitude -->
				<div class="form-group" th:classappend="${#fields.hasErrors('latitude')}? 'has-error':''">
					<label for="latitude" class="control-label">Latitude</label> 
					<input type="number" value="" step="any" id="latitude" class="form-control" th:field="*{latitude}" />
					<p class="error-message" th:each="error: ${#fields.errors('latitude')}" th:text="${error}">Validation error</p>
				</div>

				<!-- longitude -->
				<div class="form-group" th:classappend="${#fields.hasErrors('longitude')}? 'has-error':''">
					<label for="longitude" class="control-label">Longitude</label> 
					<input type="number" value="" step="any" id="longitude" class="form-control" th:field="*{longitude}" />
					<p class="error-message" th:each="error: ${#fields.errors('longitude')}" th:text="${error}">Validation error</p>
				</div>

				<!-- country -->
				<div class="form-group" th:classappend="${#fields.hasErrors('country')}? 'has-error':''">
					<label for="country" class="control-label">Country</label> 
					<input type="text" id="country" class="form-control" th:field="*{country}" />
					<p class="error-message" th:each="error: ${#fields.errors('country')}" th:text="${error}">Validation error</p>
				</div>

				<!-- location -->
				<div class="form-group" th:classappend="${#fields.hasErrors('location')}? 'has-error':''">
					<label for="location" class="control-label">Location</label> 
					<input type="text" id="location" class="form-control" th:field="*{location}" />
					<p class="error-message" th:each="error: ${#fields.errors('location')}" th:text="${error}">Validation error</p>
				</div>

				<!-- detailedLocation -->
				<div class="form-group" th:classappend="${#fields.hasErrors('detailedLocation')}? 'has-error':''">
					<label for="detailedLocation" class="control-label">Detailed Location</label> 
					<input type="text" id="detailedLocation" class="form-control" th:field="*{detailedLocation}" />
					<p class="error-message" th:each="error: ${#fields.errors('detailedLocation')}" th:text="${error}">Validation error</p>
				</div>

				<!-- NAV BUTTONS -->
				<div style="overflow:auto;">
					<div style="float:right;">
						<button class="buttonStyle" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
					</div>
				</div>
			</div>



			<!-- Second Tab -->
			<div id="Environment" class="tabcontent">
				<h3>Environment</h3>

				<!-- weather -->
				<div class="form-group" th:classappend="${#fields.hasErrors('weather')}? 'has-error':''">
					<label for="weather" class="control-label">Weather</label> 
					<input type="text" id="weather" class="form-control" th:field="*{weather}" />
					<p class="error-message" th:each="error: ${#fields.errors('weather')}" th:text="${error}">Validation error</p>
				</div>

				<!-- visibility -->
				<div class="form-group" th:classappend="${#fields.hasErrors('visibility')}? 'has-error':''">
					<label for="visibility" class="control-label">Visibility</label> 
					<input type="text" id="visibility" class="form-control" th:field="*{visibility}" />
					<p class="error-message" th:each="error: ${#fields.errors('visibility')}" th:text="${error}">Validation error</p>
				</div>

				<!-- waterType -->
				<div class="form-group" th:classappend="${#fields.hasErrors('waterType')}? 'has-error':''">
					<label for="waterType" class="control-label">Water Type</label> 
					<input type="text" id="waterType" class="form-control" th:field="*{waterType}" />
					<p class="error-message" th:each="error: ${#fields.errors('waterType')}" th:text="${error}">Validation error</p>
				</div>

				<!-- waterBodyType -->
				<div class="form-group" th:classappend="${#fields.hasErrors('waterBodyType')}? 'has-error':''">
					<label for="waterBodyType" class="control-label">Water Body Type</label> 
					<input type="text" id="waterBodyType" class="form-control" th:field="*{waterBodyType}" />
					<p class="error-message" th:each="error: ${#fields.errors('waterBodyType')}" th:text="${error}">Validation error</p>
				</div>

				<!-- tideLevel -->
				<div class="form-group" th:classappend="${#fields.hasErrors('tideLevel')}? 'has-error':''">
					<label for="tideLevel" class="control-label">Tide Level</label> 
					<input type="text" id="tideLevel" class="form-control" th:field="*{tideLevel}" />
					<p class="error-message" th:each="error: ${#fields.errors('tideLevel')}" th:text="${error}">Validation error</p>
				</div>

				<!-- waterDensity -->
				<div class="form-group" th:classappend="${#fields.hasErrors('waterDensity')}? 'has-error':''">
					<label for="waterDensity" class="control-label">Water Density</label> 
					<input type="number" value="0" step="any" id="waterDensity" class="form-control" th:field="*{waterDensity}" />
					<p class="error-message" th:each="error: ${#fields.errors('waterDensity')}" th:text="${error}">Validation error</p>
				</div>

				<!-- airTemperature -->
				<div class="form-group" th:classappend="${#fields.hasErrors('airTemperature')}? 'has-error':''">
					<label for="airTemperature" class="control-label">Air Temperature</label> 
					<input type="number" value="" step="any" id="airTemperature" class="form-control" th:field="*{airTemperature}" />
					<p class="error-message" th:each="error: ${#fields.errors('airTemperature')}" th:text="${error}">Validation error</p>
				</div>

				<!-- waterTemperature -->
				<div class="form-group" th:classappend="${#fields.hasErrors('waterTemperature')}? 'has-error':''">
					<label for="waterTemperature" class="control-label">Water Temperature</label> 
					<input type="number" value="" step="any" id="waterTemperature" class="form-control" th:field="*{waterTemperature}" />
					<p class="error-message" th:each="error: ${#fields.errors('waterTemperature')}" th:text="${error}">Validation error</p>
				</div>


				<!-- altitude -->
				<div class="form-group" th:classappend="${#fields.hasErrors('altitude')}? 'has-error':''">
					<label for="altitude" class="control-label">Altitude</label> 
					<input type="number" value="" step="any" min="0" id="altitude" class="form-control" th:field="*{altitude}" />
					<p class="error-message" th:each="error: ${#fields.errors('altitude')}" th:text="${error}">Validation error</p>
				</div>

				<!-- NAV BUTTONS -->
				<div style="overflow:auto;">
					<div style="float:right;">
						<button class="buttonStyle" type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
						<button class="buttonStyle" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
					</div>
				</div>
			</div>



			<!-- Third Tab -->
			<div id="Details" class="tabcontent">
				<h3>Details</h3>

				<!-- entry -->
				<div class="form-group" th:classappend="${#fields.hasErrors('entry')}? 'has-error':''">
					<label for="entry" class="control-label">Method of Entry</label> 
					<input type="text" id="entry" class="form-control" th:field="*{entry}" />
					<p class="error-message" th:each="error: ${#fields.errors('entry')}" th:text="${error}">Validation error</p>
				</div>

				<!-- noOfParticipants -->
				<div class="form-group" th:classappend="${#fields.hasErrors('noOfParticipants')}? 'has-error':''">
					<label for="noOfParticipants" class="control-label">Number of Participants</label> 
					<input type="number" value="1" min="0" id="noOfParticipants" class="form-control" th:field="*{noOfParticipants}" />
					<p class="error-message" th:each="error: ${#fields.errors('noOfParticipants')}" th:text="${error}">Validation error</p>
				</div>

				<!-- participantsList -->
				<div class="form-group" th:classappend="${#fields.hasErrors('participantsList')}? 'has-error':''">
					<label for="participantsList" class="control-label">Participants List</label> 
					<input type="text" id="participantsList" class="form-control" th:field="*{participantsList}" />
					<p class="error-message" th:each="error: ${#fields.errors('participantsList')}" th:text="${error}">Validation error</p>
				</div>

				<!-- equipment -->
				<div class="form-group" th:classappend="${#fields.hasErrors('equipment')}? 'has-error':''">
					<label for="equipment" class="control-label">Equipment</label> 
					<input type="text" id="equipment" class="form-control" th:field="*{equipment}" />
					<p class="error-message" th:each="error: ${#fields.errors('equipment')}" th:text="${error}">Validation error</p>
				</div>

				<!-- diveSuit -->
				<div class="form-group" th:classappend="${#fields.hasErrors('diveSuit')}? 'has-error':''">
					<label for="diveSuit" class="control-label">Dive Suit</label> 
					<input type="text" id="diveSuit" class="form-control" th:field="*{diveSuit}" />
					<p class="error-message" th:each="error: ${#fields.errors('diveSuit')}" th:text="${error}">Validation error</p>
				</div>

				<!-- tankType -->
				<div class="form-group" th:classappend="${#fields.hasErrors('tankType')}? 'has-error':''">
					<label for="tankType" class="control-label">Tank Type</label> 
					<input type="text" id="tankType" class="form-control" th:field="*{tankType}" />
					<p class="error-message" th:each="error: ${#fields.errors('tankType')}" th:text="${error}">Validation error</p>
				</div>

				<!-- gasType -->
				<div class="form-group" th:classappend="${#fields.hasErrors('gasType')}? 'has-error':''">
					<label for="gasType" class="control-label">Gas Type</label> 
					<input type="text" id="gasType" class="form-control" th:field="*{gasType}" />
					<p class="error-message" th:each="error: ${#fields.errors('gasType')}" th:text="${error}">Validation error</p>
				</div>

				<!-- gasMix -->
				<div class="form-group" th:classappend="${#fields.hasErrors('gasMix')}? 'has-error':''">
					<label for="gasMix" class="control-label">Gas Mix</label> 
					<input type="text" id="gasMix" class="form-control" th:field="*{gasMix}" />
					<p class="error-message" th:each="error: ${#fields.errors('gasMix')}" th:text="${error}">Validation error</p>
				</div>

				<!-- fractionOfHelium -->
				<div class="form-group" th:classappend="${#fields.hasErrors('fractionOfHelium')}? 'has-error':''">
					<label for="fractionOfHelium" class="control-label">Fraction of Helium</label> 
					<input type="number" value="0" min="0" step="any" id="fractionOfHelium" class="form-control" th:field="*{fractionOfHelium}" />
					<p class="error-message" th:each="error: ${#fields.errors('fractionOfHelium')}" th:text="${error}">Validation error</p>
				</div>

				<!-- fractionOfNitrogen -->
				<div class="form-group" th:classappend="${#fields.hasErrors('fractionOfNitrogen')}? 'has-error':''">
					<label for="fractionOfNitrogen" class="control-label">Fraction of Nitrogen</label> 
					<input type="number" value="0" min="0" step="any" id="fractionOfNitrogen" class="form-control" th:field="*{fractionOfNitrogen}" />
					<p class="error-message" th:each="error: ${#fields.errors('fractionOfNitrogen')}" th:text="${error}">Validation error</p>
				</div>

				<!-- tankSize -->
				<div class="form-group" th:classappend="${#fields.hasErrors('tankSize')}? 'has-error':''">
					<label for="tankSize" class="control-label">Tank Size</label> 
					<input type="number" value="" min="0" step="any" id="tankSize" class="form-control" th:field="*{tankSize}" />
					<p class="error-message" th:each="error: ${#fields.errors('tankSize')}" th:text="${error}">Validation error</p>
				</div>

				<!-- tankStart -->
				<div class="form-group" th:classappend="${#fields.hasErrors('tankStart')}? 'has-error':''">
					<label for="tankStart" class="control-label">Tank Start Volume</label> 
					<input type="number" value="" min="0" step="any" id="tankStart" class="form-control" th:field="*{tankStart}" />
					<p class="error-message" th:each="error: ${#fields.errors('tankStart')}" th:text="${error}">Validation error</p>
				</div>

				<!-- tankEnd -->
				<div class="form-group" th:classappend="${#fields.hasErrors('tankEnd')}? 'has-error':''">
					<label for="tankEnd" class="control-label">Tank End Volume</label> 
					<input type="number" value="" min="0" step="any" id="tankEnd" class="form-control" th:field="*{tankEnd}" />
					<p class="error-message" th:each="error: ${#fields.errors('tankEnd')}" th:text="${error}">Validation error</p>
				</div>

				<!-- weightCarried -->
				<div class="form-group" th:classappend="${#fields.hasErrors('weightCarried')}? 'has-error':''">
					<label for="weightCarried" class="control-label">Weight Carried</label> 
					<input type="number" value="" min="0" step="any" id="weightCarried" class="form-control" th:field="*{weightCarried}" />
					<p class="error-message" th:each="error: ${#fields.errors('weightCarried')}" th:text="${error}">Validation error</p>
				</div>

				<!-- buoyancy -->
				<div class="form-group" th:classappend="${#fields.hasErrors('buoyancy')}? 'has-error':''">
					<label for="buoyancy" class="control-label">Buoyancy</label> 
					<input type="text" id="buoyancy" class="form-control" th:field="*{buoyancy}" />
					<p class="error-message" th:each="error: ${#fields.errors('buoyancy')}" th:text="${error}">Validation error</p>
				</div>

				<!-- bottomTime -->
				<div class="form-group" th:classappend="${#fields.hasErrors('bottomTime')}? 'has-error':''">
					<label for="bottomTime" class="control-label">Bottom Time</label> 
					<input type="number" value="" min="0" step="any" id="bottomTime" class="form-control" th:field="*{bottomTime}" />
					<p class="error-message" th:each="error: ${#fields.errors('bottomTime')}" th:text="${error}">Validation error</p>
				</div>

				<!-- maxDepth -->
				<div class="form-group" th:classappend="${#fields.hasErrors('maxDepth')}? 'has-error':''">
					<label for="maxDepth" class="control-label">Max Depth</label> 
					<input type="number" value="" min="0" step="any" id="maxDepth" class="form-control" th:field="*{maxDepth}" />
					<p class="error-message" th:each="error: ${#fields.errors('maxDepth')}" th:text="${error}">Validation error</p>
				</div>

				<!-- startCode -->
				<div class="form-group" th:classappend="${#fields.hasErrors('startCode')}? 'has-error':''">
					<label for="startCode" class="control-label">Start Code</label> 
					<input type="text" id="startCode" class="form-control" th:field="*{startCode}" />
					<p class="error-message" th:each="error: ${#fields.errors('startCode')}" th:text="${error}">Validation error</p>
				</div>

				<!-- surfacingCode -->
				<div class="form-group" th:classappend="${#fields.hasErrors('surfacingCode')}? 'has-error':''">
					<label for="surfacingCode" class="control-label">Surfacing Code</label> 
					<input type="text" id="surfacingCode" class="form-control" th:field="*{surfacingCode}" />
					<p class="error-message" th:each="error: ${#fields.errors('surfacingCode')}" th:text="${error}">Validation error</p>
				</div>

				<!-- NAV BUTTONS -->
				<div style="overflow:auto;">
					<div style="float:right;">
						<button class="buttonStyle" type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
						<button class="buttonStyle" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
					</div>
				</div>
			</div>



			<!-- Fourth Tab -->
			<div id="Observations" class="tabcontent">
				<h3>Observations</h3>
				<!-- descrption -->
				<div class="form-group" th:classappend="${#fields.hasErrors('description')}? 'has-error':''">
					<label for="description" class="control-label">Description</label> 
					<input type="text" id="description" class="form-control" th:field="*{description}" />
					<p class="error-message" th:each="error: ${#fields.errors('description')}" th:text="${error}">Validation error</p>
				</div>

				<!-- faunaList -->
				<div class="form-group" th:classappend="${#fields.hasErrors('faunaList')}? 'has-error':''">
					<label for="faunaList" class="control-label">Fauna</label> 
					<input type="text" id="faunaList" class="form-control" th:field="*{faunaList}" />
					<p class="error-message" th:each="error: ${#fields.errors('faunaList')}" th:text="${error}">Validation error</p>
				</div>

				<!-- floraList -->
				<div class="form-group" th:classappend="${#fields.hasErrors('floraList')}? 'has-error':''">
					<label for="floraList" class="control-label">Flora</label> 
					<input type="text" id="floraList" class="form-control" th:field="*{floraList}" />
					<p class="error-message" th:each="error: ${#fields.errors('floraList')}" th:text="${error}">Validation error</p>
				</div>

				<!-- observationsList -->
				<div class="form-group" th:classappend="${#fields.hasErrors('observationsList')}? 'has-error':''">
					<label for="observationsList" class="control-label">Observations</label> 
					<input type="text" id="observationsList" class="form-control" th:field="*{observationsList}" />
					<p class="error-message" th:each="error: ${#fields.errors('observationsList')}" th:text="${error}">Validation error</p>
				</div>

				<!-- NAV BUTTONS -->
				<div style="overflow:auto;">
					<div style="float:right;">
						<button class="buttonStyle" type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
						<button class="buttonStyle" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
					</div>
				</div>
			</div>
		</form>
		<!-- Upload Dive Form -->
 	</div>
	<!-- MAIN -->
</body>

</html>
