<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      	  layout:decorate="~{layouts/default}"
	    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>Dive View</title>
</head>


<body>
	<!-- MAIN -->
	<div layout:fragment="content">
		<h1>My Dive</h1>
		<p th:text="${dive.id}"></p>
		<p th:text="${dive.diveOwner.firstName}"></p>
		<p th:text="${dive.diveOwner.lastName}"></p>
		<p th:text="${dive.diveOwner.email}"></p>
	</div>
	<!-- MAIN -->
</body>

</html>
