<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      	  layout:decorate="~{layouts/default}"
	    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>Dive View</title>
	<style>
		.diveViewMap { 
			display: inline-block;
			margin: 0;
			margin-top: 20px;
			height: 600px;  
			width: 95%; 
		}
	</style>
	
</head>


<body>
	<!-- MAIN -->
	<div layout:fragment="content">

		<div class="tab">
			<button class="tablinks" onclick="openGenericTab(event, 'Overview')"  id="defaultOpen">Overview</button>
			<button class="tablinks" onclick="openGenericTab(event, 'DiveDetails')">Dive Details</button>
			<button class="tablinks" onclick="openGenericTab(event, 'Observations')">Observations</button>
			<button class="tablinks" onclick="openGenericTab(event, 'DiveSiteMap')">Dive Site Map</button>
			<button class="tablinks" onclick="openGenericTab(event, 'Images')">Images</button>
		</div>





		<!-- First Tab -->
		<div id="Overview" class="tabcontent">
			<div class="profile-top-banner">
				<img class="profile-picture" th:if="${returnedUser.profilePicture != null}" th:src="@{'/getImage/'+${returnedUser.profilePicture.id}}">

				<div class="profile-details">
					<h1 th:text="${dive.diveTitle}+' - Dive #'+${dive.diveNo}"></h1>
				</div>
			</div>

			<div class="profile-left-banner">
				<h1>Details</h1>

				<table>
					<tr>
						<td>Diver:</td>
						<td th:text="${dive.diveOwner.username}"></td>
					</tr>
					<tr>
						<td>PADI Level:</td>
						<td th:text="${dive.diveOwner.padiLevel}"></td>
					</tr>
					<tr>
						<td>Country:</td>
						<td th:text="${dive.country}"></td>
					</tr>
					<tr>
						<td>Location:</td>
						<td th:text="${dive.location}"></td>
					</tr>
					<tr>
						<td>Date</td>
						<td th:text="${dive.date}"></td>
					</tr>
					<tr>
						<td>Start:</td>
						<td th:text="${dive.startTime}"></td>
					</tr>
					<tr>
						<td>End:</td>
						<td th:text="${dive.endTime}"></td>
					</tr>
					<tr>
						<td>Max Depth:</td>
						<td th:text="${dive.maxDepth}"></td>
					</tr>
				</table>
			</div>

			<div class="profile-right-banner">
				<div class="profile-recent-dive">
					<h1>Photos</h1>

					<div class="profile-recent-images">
					<img class="recent-picture float-left" th:if="${dive.images.size() gt 0}" th:src="@{'/getImage/'+${dive.images.get(0).id}}">
					<img class="recent-picture float-right" th:if="${dive.images.size() gt 1}" th:src="@{'/getImage/'+${dive.images.get(1).id}}">
					<img class="recent-picture float-left" th:if="${dive.images.size() gt 2}" th:src="@{'/getImage/'+${dive.images.get(2).id}}">
					<img class="recent-picture float-right" th:if="${dive.images.size() gt 3}" th:src="@{'/getImage/'+${dive.images.get(3).id}}">
					</div>
				</div>
			</div>
		</div>

		<!-- Second Tab -->
		<div id="DiveDetails" class="tabcontent">

			<div class="log-banner float-left">
				<h1>General</h1>
	
				<table>
					<tr>
						<td>Username:</td>
						<td th:text="${dive.diveOwner.username}"></td>
					</tr>
					<tr>
						<td>Name:</td>
						<td th:text="${dive.diveOwner.fullName}"></td>
					</tr>
					<tr>
						<td>PADI Level:</td>
						<td th:text="${dive.diveOwner.padiLevel}"></td>
					</tr>
					<tr>
						<td>Max Depth:</td>
						<td th:text="${dive.maxDepth}"></td>
					</tr>
					<tr>
						<td>Buoyancy:</td>
						<td th:text="${dive.buoyancy}"></td>
					</tr>
					<tr>
						<td>Start Code:</td>
						<td th:text="${dive.startCode}"></td>
					</tr>
					<tr>
						<td>Surfacing Code:</td>
						<td th:text="${dive.surfacingCode}"></td>
					</tr>
				</table>
			</div>


			<div class="log-banner float-right">
				<h1>Location</h1>
	
				<table>
					<tr>
						<td>Country:</td>
						<td th:text="${dive.country}"></td>
					</tr>
					<tr>
						<td>Location:</td>
						<td th:text="${dive.location}"></td>
					</tr>
					<tr>
						<td>Detailed Location:</td>
						<td th:text="${dive.detailedLocation}"></td>
					</tr>
					<tr>
						<td>Dive Site:</td>
						<td th:text="${dive.diveSite}"></td>
					</tr>
					<tr>
						<td>Latitude:</td>
						<td th:text="${dive.latitude}"></td>
					</tr>
					<tr>
						<td>Longitude:</td>
						<td th:text="${dive.longitude}"></td>
					</tr>
				</table>
			</div>


			<div class="log-banner float-left">
				<h1>Time and Date</h1>
				<table>
					<tr>
						<td>Date</td>
						<td th:text="${dive.date}"></td>
					</tr>
					<tr>
						<td>Start:</td>
						<td th:text="${dive.startTime}"></td>
					</tr>
					<tr>
						<td>End:</td>
						<td th:text="${dive.endTime}"></td>
					</tr>
					<tr>
						<td>Duration:</td>
						<td th:text="${dive.diveDuration}"></td>
					</tr>
				</table>
			</div>


			<div class="log-banner float-right">
				<h1>Environment</h1>
	
				<table>
					<tr>
						<td>Weather:</td>
						<td th:text="${dive.weather}"></td>
					</tr>
					<tr>
						<td>Visibility:</td>
						<td th:text="${dive.visibility}"></td>
					</tr>
					<tr>
						<td>Air Temp:</td>
						<td th:text="${dive.airTemperature}"></td>
					</tr>
					<tr>
						<td>Water Temp:</td>
						<td th:text="${dive.waterTemperature}"></td>
					</tr>
					<tr>
						<td>Water Density</td>
						<td th:text="${dive.waterDensity}"></td>
					</tr>
					<tr>
						<td>Water Type</td>
						<td th:text="${dive.waterType}"></td>
					</tr>
					<tr>
						<td>Water Body</td>
						<td th:text="${dive.waterBodyType}"></td>
					</tr>
					<tr>
						<td>Tide Level</td>
						<td  th:text="${dive.tideLevel}"></td>
					</tr>
					<tr>
						<td>Altitude</td>
						<td  th:text="${dive.altitude}"></td>
					</tr>
				</table>
			</div>


			<div class="log-banner float-left">
				<h1>Participants and Purpose</h1>
				<table>
					<tr>
						<td>Dive Buddy:</td>
						<td th:text="${dive.diveBuddy}"></td>
					</tr>
					<tr>
						<td>No of Participants:</td>
						<td th:text="${dive.noOfParticipants}"></td>
					</tr>
					<tr>
						<td>Participants List:</td>
						<td th:text="${dive.participantsList}"></td>
					</tr>
					<tr>
						<td>Dive Purpose:</td>
						<td th:text="${dive.divePurpose}"></td>
					</tr>
				</table>
			</div>

			<div class="log-banner float-right">
				<h1>Equipment and Entry</h1>
				<table>
					<tr>
						<td>Equipment:</td>
						<td th:text="${dive.equipment}"></td>
					</tr>
					<tr>
						<td>Dive Suit:</td>
						<td th:text="${dive.diveSuit}"></td>
					</tr>
					<tr>
						<td>Weight Carried</td>
						<td th:text="${dive.weightCarried}"></td>
					</tr>
					<tr>
						<td>Entry</td>
						<td th:text="${dive.entry}"></td>
					</tr>
				</table>
			</div>	

			<div class="log-banner float-left">
				<h1>Tank Details</h1>
				<table>
					<tr>
						<td>Type:</td>
						<td th:text="${dive.tankType}"></td>
					</tr>
					<tr>
						<td>Size:</td>
						<td th:text="${dive.tankSize}"></td>
					</tr>
					<tr>
						<td>Start:</td>
						<td th:text="${dive.tankStart}"></td>
					</tr>
					<tr>
						<td>End:</td>
						<td th:text="${dive.tankEnd}"></td>
					</tr>
					<tr>
						<td>Usage:</td>
						<td th:text="${dive.tankUsage}"></td>
					</tr>
				</table>
			</div>


			<div class="log-banner float-right">
				<h1>Gas Details</h1>
				<table>
					<tr>
						<td>Type:</td>
						<td th:text="${dive.gasType}"></td>
					</tr>
					<tr>
						<td>Gas Mix:</td>
						<td th:text="${dive.gasMix}"></td>
					</tr>
					<tr>
						<td>Helium %:</td>
						<td th:text="${dive.fractionOfHelium}"></td>
					</tr>
					<tr>
						<td>Nitrogen %:</td>
						<td  th:text="${dive.fractionOfNitrogen}"></td>
					</tr>
	
				</table>
			</div>	
		</div>

		<!-- Fourth Tab -->
		<div id="Observations" class="tabcontent">
			<div class="log-banner float-left">
				<h1>Description</h1>
				<p th:text="${dive.description}"></p>
			</div>

			<div class="log-banner float-right">
				<h1>Observations</h1>
				<p th:text="${dive.observationsList}"></p>
			</div>

			<div class="log-banner float-left">
				<h1>Fauna</h1>
				<p th:text="${dive.faunaList}"></p>
			</div>

			<div class="log-banner float-right">
				<h1>Flora</h1>
				<p th:text="${dive.floraList}"></p>
			</div>
		</div>



		<!-- Fifth Tab -->
		<div id="DiveSiteMap" class="tabcontent">
			<div id='map' class="tab-map"></div>

			<script th:inline="javascript">
				L.mapbox.accessToken = 'pk.eyJ1IjoiamFzb24zeXAiLCJhIjoiY2s3ZW4waXl2MHo0MzNucGF4NHQ5bXZ4diJ9.P93UqztpQcrq70aYz1XETQ';

				var longitude = [[${dive.longitude}]];
				var latitude = [[${dive.latitude}]];
				var description = [[${dive.description}]];
				var detailedLocation = [[${dive.detailedLocation}]];
				var diver = [[${dive.diveOwner.firstName}+' '+${dive.diveOwner.lastName}]];
				var date = [[${dive.date}]];
			

				var map = L.mapbox.map('map')
				    .setView([latitude, longitude], 5)
				    .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11'));

				var marker = L.marker([latitude, longitude], {
					icon: L.mapbox.marker.icon({
						'marker-size': 'large',
						'marker-symbol': 'circle',
						'marker-color': '#4169E1'
					    	})
					})

				marker.bindPopup(description + "<br />" + diver + "<br />" + date + "<br />" + String(detailedLocation));
				marker.addTo(map);
			</script>
		</div>



		<!-- Sixth Tab -->
		<div id="Images" class="tabcontent">
			<table id="myTable">
				<tr class="header">
					<th>Name</th>	
					<th>Image</th>
				</tr>
				<tr th:each="i : ${dive.images}">
					<td th:text="${i.fileName}">Filename</td>
					<td><img class="diveImg" th:src="@{'/getImage/'+${i.id}}"></td>
				</tr>
			</table>
		</div>
	</div>

	<!-- MAIN -->
</body>

</html>
