/* ====================================================================================== */
/* FOOTER */
/* ====================================================================================== */

.defaultFooter {
	width: 100%;
	min-height: 150px;
	background-color: #253a4e;
	padding: 40px;
	margin: 0px;
	color: white;
	font-size: 14px;
}

/* ====================================================================================== */
/* Main Container */
/* ====================================================================================== */

.mainContainer {
	margin: auto;
	margin-top: 65px;
	margin-bottom: 18px;
	width: 66%;
	min-height: 800px;
}

/* ====================================================================================== */
/* NavBar */
/* ====================================================================================== */

.navbar-custom {
	font-size: 18px;
	background-color: #253a4e;
	color: white;
	text-decoration: none;
	transition-duration: 0.2s;
	border-width: 0px;
}

.navbar-custom a:hover {
	background-color: white;
	color: #456f93;
}

.navbar-custom a{
	background-color: inherit;
	color: inherit;
	text-decoration: inherit;
}

/* ====================================================================================== */
/* Green button styling */
/* ====================================================================================== */

.green-button {
	background-color: #4CAF50;
	color: #ffffff;
	border: 1px solid #4CAF50;
	padding: 10px 20px;
	font-size: 17px;
	font-family: Raleway;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	transition-duration: 0.2s;
}

.green-button:hover {
	background-color: white;
	color: #4CAF50;
}

.green-button a{
	background-color: inherit;
	color: inherit;
	text-decoration: inherit;
	text-align: inherit;
	width: 100%;
	height: 100%;
	display: inline-block;
}

/* ====================================================================================== */
/* Grey Button */
/* ====================================================================================== */

.grey-button {
	font-size: 30px;
	position: absolute; 
	bottom: 0;
	width: 100%;
	transition-duration: 0.2s;
	background-color: #555555;
	color: white;
	border: 2px solid #555555;
	text-decoration: none;
}

.grey-button:hover {
	background-color: white;
	color: black;
}

.grey-button a{
	background-color: inherit;
	color: inherit;
	text-decoration: inherit;
}

/* ====================================================================================== */
/* TABS */
/* ====================================================================================== */

/* Style the tab */
.tab {
	overflow: hidden;
	border: 2px solid #456f93;
	background-color: #456f93;
	color: white;
	font-family: Raleway;
	margin-top: 68px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 10px 20px;
	font-size: 17px;
	font-family: inherit;
	transition-duration: 0.2s;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: white;
	color: #456f93;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: white;
	color: #456f93;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 15px 75px;
	border: 2px solid #456f93;
	border-top: none;
	animation: fadeEffect 0.3s; /* Fading effect takes 1 second */
	min-height: inherit;
}

.tabcontent h3{
	color: #2e4a62;
}


/* Go from zero to full opacity */
@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}

/* ====================================================================================== */
/* QUERYING */
/* ====================================================================================== */
.custom-label {
  width: 100%;
  margin: 0px;
}
.querySearchBarContainer {
  display: block;
  float: right;
  margin: auto;	
  width: 40%;
}

.querySearchBarContainer h3 {
	margin-top: 2px;
}

.querySearchBar {
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  font-family: Raleway;
  padding: 8px 16px 8px 16px; /* Add some padding */
  border: 1px solid #9bb7d0; /* Add a grey border */
  margin-bottom: 9px; /* Add some space below the input */
  opacity: 100;
  cursor: pointer;
}

.querySearchBar:disabled {
  background-color: #ffb3b3;
}

.querySearchButton:hover {
  background-color: white;
}

.radioContainer{
	position: relative;
	float: left;
	display: block;
	max-width: 15%;
	margin-bottom: 8px;
}

.radioContainer h3{
	margin-top: 2px;
}

.resultsTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #9bb7d0; /* Add a grey border */
  font-size: 17px; /* Increase font-size */
}

.resultsTable th, .resultsTable td {
  padding: 9px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 0px;
}

.resultsTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #9bb7d0;
}

.resultsTable tr.header, .resultsTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #cddbe7;
}

.detailsCol {
	width: 7%;
	text-align: center;
}

.dateCol {
	width: 11%;
}

.participantsCol {
	width: 12%;
}

/* ====================================================================================== */
/* Pagination
/* ====================================================================================== */
 .pagination-custom {
	display: table;
	position: relative;
	margin: auto;
	margin-top: 16px;
	font-size: 17px;
}

/* ====================================================================================== */
/* RADIO BUTTONS */
/* ====================================================================================== */

/* The container */
.container {
  position: relative;
  padding-left: 35px;
  margin-bottom: 11px;
  max-width: 190px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/* ====================================================================================== */
/* MULTISTEP FORM */
/* ====================================================================================== */

.multiStepForm {
  background-color: #cddbe7;
  margin: auto;
  margin-top: 68px;
  padding: 40px;
  padding-right: 80px;
  padding-left: 80px;
  width: 80%;
  min-width: 300px;
  min-height: inherit;
  font-family: Raleway;
}

.multiStepForm h1 {
  text-align: center;  
}

.multiStepForm input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
.multiStepForm input.invalid {
  background-color: #ffdddd;
}


.multiStepForm button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

.multiStepForm button:hover {
  opacity: 0.8;
}

/* Hide all steps by default: */
.multiStepTab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

/* ====================================================================================== */
/* FILE UPLOAD */
/* ====================================================================================== */

.file-upload-button { 
	width: 80%;
	margin:20px;
	margin-left: 10%;
	margin-right: 10%;
}

.file-upload-button:hover { 
	background-color: red;
}

/* ====================================================================================== */
/* Images */
/* ====================================================================================== */

.diveImg {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 200px;
}

.profileImg {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	height: 200px;
	width: 200px;
	display: inline-block;
}

/* ====================================================================================== */
/* Dive Uploading */
/* ====================================================================================== */

.custom-fg-3{
	float: left;
	display: block;
	min-width: 25%;
	margin-right: 8%;
}

.custom-fg-2{
	float: left;
	display: block;
	min-width: 42%;
	margin-right: 7%;
}

.custom-fg-1{
	width: 91%;
}

.custom-row {
	width: 100%;
}

/* ====================================================================================== */
/* Homepage Styling */
/* ====================================================================================== */

.homePageContainer {
	background-color: white;
	margin: auto;
	margin-top: 68px;
	width: 100%;
	min-width: 300px;
	min-height: inherit;
	font-family: Raleway;
}

.block-style {
	position: relative;
	display: block;
	border: 6px solid #294257;
	margin-top: 26px;
	font-family: Raleway;
	width: 49%;
	height: 360px;
	overflow: hidden;
}

.block-style p, ul{
	margin: 0px;
}

.block-title{
	position: relative;
	display: block;
	width: 80%;
	float: left;
	margin: 0px;
	font-size: 31px;
	text-align: center;
	border-bottom: 10px solid #294257;
	background-color: #294257;
	color: white;
	padding: 5px 0px;
}

.block-button{
	width: 20%;
	float: right;
	background-color: #4CAF50;
	color: #ffffff;
	padding: 4px 20px;
	border-left: 6px solid #294257;
	border-bottom: 6px solid #294257;
	border-right: 3px solid #294257;
	font-size: 28px;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	transition-duration: 0.2s;
}

.block-button:hover {
	background-color: white;
	color: #4CAF50;
	text-decoration: none;
}

.block-description {
	padding: 18px 30px;
	font-size: 23px;
	width: 100%;
	display: inline-block;
	background-color: #456f93;
	color: white;
}

.block-list{
	font-size: 22px;
	width: 100%;
	display: inline-block;
	background-color: #6993b8;
	color: white;
	margin: 0px;
	height: 300px;
	padding: 18px 10px;
}


.block-list li{
    margin: 0px;
    margin-left: 85px;

}

.float-left {
	float: left;
}

.float-right {
	float: right;
}


