.mainContainer {
	margin: 0;
	margin-top: 65px;
	position: absolute;
	display: table;
	width: 70%;
	height: 1200px;
	left: 50%;
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.title-custom {
	font-size: 26px;
}

.navbar-custom{
	font-size: 18px;
}

#map { 
	margin: 0;
	margin-top: 20px;
	position: absolute;
	display: inline-block;
	height: 800px; 
	width: 100%; 
	left: 50%;
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
