/* Main Container */
.mainContainer {
	margin: auto;
	margin-top: 65px;
	margin-bottom: 65px;
	width: 70%;
	height: 1200px;
}

/* NavBar */
.navbar-custom{
	font-size: 18px;
}

/* Map */
#map { 
	margin: 0;
	margin-top: 20px;
	position: absolute;
	display: inline-block;
	height: 800px; 
	width: 100%; 
	left: 50%;
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

/* Grey Button */
.grey-button {
	font-size: 30px;
	position: absolute; 
	bottom: 0;
	width: 100%;
	transition-duration: 0.2s;
	background-color: #555555;
	color: white;
	border: 2px solid #555555;
	text-decoration: none;
}

.grey-button:hover {
	background-color: white;
	color: black;
}

.grey-button a{
	background-color: inherit;
	color: inherit;
	text-decoration: inherit;
}
