/* ====================================================================================== */
/* FOOTER */
/* ====================================================================================== */

.defaultFooter {
	width: 100%;
	min-height: 150px;
	background-color: #456f93;
	padding: 40px;
	margin: 0px;
	color: white;
	font-size: 14px;
}

/* ====================================================================================== */
/* Main Container */
/* ====================================================================================== */

.mainContainer {
	margin: auto;
	margin-top: 90px;
	margin-bottom: 42px;
	width: 66%;
	min-height: 700px;
}

/* ====================================================================================== */
/* NavBar */
/* ====================================================================================== */

.navbar-custom {
	font-size: 18px;
	background-color: #456f93;
	color: white;
	text-decoration: none;
	transition-duration: 0.2s;
	border-width: 0px;
}

.navbar-custom a:hover {
	background-color: white;
	color: #456f93;
}

.navbar-custom a{
	background-color: inherit;
	color: inherit;
	text-decoration: inherit;
}

/* ====================================================================================== */
/* Green button styling */
/* ====================================================================================== */

.green-button {
	background-color: #4CAF50;
	color: #ffffff;
	border: 1px solid #4CAF50;
	padding: 10px 20px;
	font-size: 17px;
	font-family: Raleway;
	cursor: pointer;
	text-decoration: none;
	transition-duration: 0.2s;
}

.green-button:hover {
	background-color: white;
	color: #4CAF50;
}

.green-button a{
	background-color: inherit;
	color: inherit;
	text-decoration: inherit;
}

/* ====================================================================================== */
/* Grey Button */
/* ====================================================================================== */

.grey-button {
	font-size: 30px;
	position: absolute; 
	bottom: 0;
	width: 100%;
	transition-duration: 0.2s;
	background-color: #555555;
	color: white;
	border: 2px solid #555555;
	text-decoration: none;
}

.grey-button:hover {
	background-color: white;
	color: black;
}

.grey-button a{
	background-color: inherit;
	color: inherit;
	text-decoration: inherit;
}

/* ====================================================================================== */
/* TABS */
/* ====================================================================================== */

/* Style the tab */
.tab {
	overflow: hidden;
	border: 1px solid #9bb7d0;
	background-color: #cddbe7;
	font-family: Raleway;
}

/* Style the buttons that are used to open the tab content */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 10px 20px;
	font-size: 17px;
	font-family: inherit;
	transition-duration: 0.2s;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #456f93;
	color: white;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #456f93;
	color: white;
}

/* Style the tab content */
.tabcontent {
	display: none;
	margin-bottom: 30px;
	padding: 15px 12px;
	border: 1px solid #9bb7d0;
	border-top: none;
	animation: fadeEffect 0.3s; /* Fading effect takes 1 second */
	min-height: inherit;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}

/* ====================================================================================== */
/* QUERYING */
/* ====================================================================================== */

.querySearchBarContainer {
  position: inline-block;
  max-width: 1000px;
  margin: auto;	
  width: 100%;
}

.querySearchBar {
  width: 85%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  font-family: Raleway;
  padding: 12px 20px 12px 30px; /* Add some padding */
  border: 1px solid #9bb7d0; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
  opacity: 100;
  cursor: pointer;
}

.querySearchButton {
  padding: 15px 20px 13px 20px; /* Add some padding */
  border: 1px solid black; /* Add a grey border */
  background-color: #6993b8;
}

.querySearchButton:hover {
  background-color: white;
}

.resultsTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #9bb7d0; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

.resultsTable th, .resultsTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

.resultsTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #9bb7d0;
}

.resultsTable tr.header, .resultsTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #cddbe7;
}

/* ====================================================================================== */
/* RADIO BUTTONS */
/* ====================================================================================== */

/* The container */
.container {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.radioContainer{
	  position: relative;
	  display: inline-grid;
	  min-width: 150px;
	  max-width: 22%;
}

/* ====================================================================================== */
/* MULTISTEP FORM */
/* ====================================================================================== */

.multiStepForm {
  background-color: #cddbe7;
  margin: auto;
  padding: 40px;
  padding-right: 80px;
  padding-left: 80px;
  width: 80%;
  min-width: 300px;
  min-height: inherit;
  font-family: Raleway;
}

.multiStepForm h1 {
  text-align: center;  
}

.multiStepForm input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
.multiStepForm input.invalid {
  background-color: #ffdddd;
}


.multiStepForm button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

.multiStepForm button:hover {
  opacity: 0.8;
}

/* Hide all steps by default: */
.multiStepTab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

/* ====================================================================================== */
/* FILE UPLOAD */
/* ====================================================================================== */

.file-upload-button { 
	width: 80%;
	margin:20px;
	margin-left: 10%;
	margin-right: 10%;
}

.file-upload-button:hover { 
	background-color: red;
}

/* ====================================================================================== */
/* Images */
/* ====================================================================================== */

.diveImg {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 200px;
}

.profileImg {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	height: 200px;
	width: 200px;
	display: inline-block;
}

