.mainContainer {
	margin: 0;
	margin-top: 65px;
	position: absolute;
	display: table;
	width: 90%;
	height: 1200px;
	left: 50%;
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

#diveContainer {
	margin: 0;
	margin-top: 10px;
	position: absolute;
	display: table;
	width: 74%;
	left: 50%;
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

#map { 
	position: absolute;
	display: inline-block;
	margin: 0;
	margin-top: 20px;
	height: 600px;  
	width: 95%; 
	left: 50%;
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

/* Style the tab */
.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	display: none;
	margin-bottom: 30px;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
	animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}

.diveImg {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

#imageTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#imageTable  th, #imageTable  td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#imageTable  tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#imageTable  tr.header, #imageTable  tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}
