#container {
	margin: 0;
	margin-top: 80px;
	position: absolute;
	display: table;
	width: 70%;
	left: 50%;
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.block {
	min-width: 10px;
	max-width: 250px;
	height: 400px;
	display: table-cell;
	table-layout: fixed;
	position: relative; 
}

.custom-btn {
	position: absolute; 
	bottom: 0;
	width: 100%;
}
