#container {
	margin: 0;
	margin-top: 10px;
	position: absolute;
	display: table;
	width: 80%;
	left: 50%;
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.block {
	min-width: 100px;
	max-width: 300px;
	height: 550px;
	display: table-cell;
	table-layout: fixed;
	position: relative; 
}

.custom-btn {
	font-size: 30px;
	position: absolute; 
	bottom: 0;
	width: 100%;
	transition-duration: 0.2s;
	background-color: #555555;
	color: white;
	border: 2px solid #555555;
	text-decoration: none;
}

.custom-btn:hover {
	background-color: white;
	color: black;
}

.custom-btn a{
	background-color: inherit;
	color: inherit;
	text-decoration: inherit;
}

.descriptionText {
	text-align: center;
	font-size: 30px;
	padding-top: 40px;
	padding-left: 5px;
	padding-right: 5px;
}
