.descriptionText {
	text-align: center;
	font-size: 30px;
	padding-top: 40px;
	padding-left: 5px;
	padding-right: 5px;
}

/* Table */
.tableDiv {
	display: table;
	width: 100%;
}

.block {
	width: 25%;
	height: 550px;
	display: table-cell;
	table-layout: fixed;
	position: relative; 
}
